 .container{
    box-shadow: 0 5px 10px;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.card-header{
    background-color: #02979d;
}

.h{
    font-size: x-large;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.col-12{
width: 100%;
}
tr{
padding-left: 5px;
}
.button{
    background-color: #3e92cc;
    color: wheat;
    text-decoration: none;
    padding: 2px 3px;
    font-size: small;
    border-radius: 3px;

}
.button:hover{
    color: lightcoral;
    transition-duration: 1s;
}
.card-body{
    border: 2px;
    border-radius: 50px;
    width: 100%;
    color:#abc4ff;
}
.table-responsive{
    background-color: #abc4ff;
    border-radius: 10px;
    padding: 0;
}
.table{
    background-color: #abc4ff;
    table-layout: auto;
    
}

.button2{
    background-color: #3e92cc;
    color: wheat;
    text-decoration: none;
    padding: 2px 3px;
    font-size: small;
    border-radius: 3px;
}
.button2:hover{
    color: hotpink;
    transition-duration: 1s;
}

.edit{
border: 2px;
border-style: solid;
border-radius: 5px;
color: #7b5063;
font-size: 10px;
background-color:#f3d5b5 ;
padding: 2px;
}
.edit:hover{
color:#fb6f92 ;
transition-duration: 1s;
}
.delete{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    color: #7b5063;
    font-size: 10px;
    background-color:#f3d5b5 ;
    padding: 2px;
    }
    .delete:hover{
    color:#fb6f92 ;
    transition-duration: 1s;
    }
td{
padding: 0;
}
